@font-face {
  font-family: "MaidiniBold";
  src: local("MaidiniBold"), url(./fonts/MaldiniBold.ttf) format("truetype");
}

.game,
.lobby {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}

/*----- Lobby Part -----*/

.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 50px;
  border-radius: 10px;
}

.game-title {
  font-family: MaidiniBold;
  font-size: 80px;
  padding: 0;
  margin: 0;
  color: black;
}

.lobby-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 30px;
}

#theme-select {
  height: 40px;
  margin-bottom: 20px;
}

#name-input {
  height: 40px;
  margin-bottom: 20px;
}

.lobby-button {
  width: 100%;
  height: 50px;
}

/*----- Game Part -----*/

.game-header {
  width: 900px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  margin-bottom: 20px;
  height: 100px;
}

.role-display {
  text-align: center;
}

.scoreboard {
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
}

.own-score {
  padding: 10px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.opponent-score {
  padding: 10px;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.timer {
  margin: 0 30px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.backgroundToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backgroundBtn {
  width: 50%;
  height: 50%;
  border: none;
}

.game-container {
  display: flex;
  flex-direction: row;
}

.grid {
  padding: 5px;
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.grid-placeholder {
  padding: 5px;
  width: 560px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

.waiting-message {
  font-size: 32px;
  color: white;
}

.notification {
  font-size: 64px;
  color: white;
  margin-bottom: 30px;
}

.restart-button {
  width: 50%;
  height: 50px;
}

/*----- Theme Colors -----*/

.default {
  background-color: black;
}

.jungle {
  background-color: #283618;
}

.snow {
  background-color: #14213d;
}

.block {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
}

.free {
  background-color: #8d8d8d;
}

.obs {
  background-color: black;
}

.tunnel {
  background-color: white;
}

.warder {
  background-color: #219ebc;
}

.prisoner {
  background-color: #fb8500;
}

.free-jungle {
  background-color: #9ec5ab;
}

.obs-jungle {
  background-color: #283618;
}

.tunnel-jungle {
  background-color: white;
}

.warder-jungle {
  background-color: #da711d;
}

.prisoner-jungle {
  background-color: #cc412b;
}

.free-snow {
  background-color: #376996;
}

.obs-snow {
  background-color: #14213d;
}

.tunnel-snow {
  background-color: white;
}

.warder-snow {
  background-color: #3cd3f2;
}

.prisoner-snow {
  background-color: #f3722c;
}

/*----- Chat Box -----*/

.card {
  width: 300px;
  height: 560px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 30rem;
  position: relative; */
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  overflow: scroll;
}

.chat-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-bottom: 2px solid #eee;
}

.message {
  font-weight: normal;
}

.chat-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 300px;
}

.textfield {
  margin-top: 50px;
}

.sendbutton {
  margin: 0;
  margin-bottom: 5px;
  height: 60px;
}
