.game,
.lobby {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.game-title {
  font-size: 50px;
  padding: 0;
  margin: 0;
  color: black;
}

.lobby-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 30px;
}

#theme-select {
  height: 40px;
  margin-bottom: 20px;
}

#name-input {
  height: 40px;
  margin-bottom: 20px;
}

.start-button {
  width: 100%;
  height: 50px;
}

.game-header {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 100px;
}

.scoreboard {
  width: 400px;
  display: flex;
}

.own-score {
  width: 50%;
  background-color: blue;
}

.opponent-score {
  width: 50%;
  background-color: red;
}

.timer {
  margin: 0 30px;
  padding: 5px;
  width: 250px;
  border-radius: 10px;
  background-color: grey;
}

.mute {
  margin: 20px 0 20px 0;
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: grey;
}

.mute {
  margin: 20px 0 20px 0;
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: grey;
}

.game-container {
  display: flex;
  flex-direction: row;
}

.grid {
  padding: 5px;
  background-color: black;
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.default {
  background-color: black;
}

.jungle {
  background-color: black;
}

.snow {
  background-color: black;
}

.block {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
}

.free {
  background-color: grey;
}

.obs {
  background-color: black;
}

.tunnel {
  background-color: white;
}

.warder {
  background-color: blue;
}

.prisoner {
  background-color: red;
}

.card {
  width: 300px;
  height: 560px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 30px 0 30px;
  min-height: 30rem;
  position: relative;
}

.chat-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
}

.textfield {
  margin-top: 50px;
}

.sendbutton {
  margin: 0;
  height: 60px;
}

.name-field {
  margin-bottom: 40px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  /* box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75); */
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}
