.game,
.lobby {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}

.game-title {
  font-size: 50px;
  padding: 0;
  margin: 0;
  color: black;
}

.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 50px;
  border-radius: 10px;
}

.lobby-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 30px;
}

#theme-select {
  height: 40px;
  margin-bottom: 20px;
}

#name-input {
  height: 40px;
  margin-bottom: 20px;
}

.start-button {
  width: 100%;
  height: 50px;
}

.game-header {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 100px;
}

.scoreboard {
  width: 400px;
  display: flex;
  color: white;
  text-align: center;
}

.own-score {
  padding: 10px;
  width: 50%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.opponent-score {
  padding: 10px;
  width: 50%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.timer {
  margin: 0 30px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
}

.mute {
  margin: 20px 0 20px 0;
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: grey;
}

.game-container {
  display: flex;
  flex-direction: row;
}

.grid {
  padding: 5px;
  background-color: black;
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.default {
  background-color: black;
}

.jungle {
  background-color: #283618;
}

.snow {
  background-color: #14213d;
}

.block {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
}

.free {
  background-color: #8d8d8d;
}

.obs {
  background-color: black;
}

.tunnel {
  background-color: white;
}

.warder {
  background-color: #219ebc;
}

.prisoner {
  background-color: #fb8500;
}

.free-jungle {
  background-color: #9ec5ab;
}

.obs-jungle {
  background-color: #283618;
}

.tunnel-jungle {
  background-color: white;
}

.warder-jungle {
  background-color: #da711d;
}

.prisoner-jungle {
  background-color: #cc412b;
}

.free-snow {
  background-color: #376996;
}

.obs-snow {
  background-color: #14213d;
}

.tunnel-snow {
  background-color: white;
}

.warder-snow {
  background-color: #3cd3f2;
}

.prisoner-snow {
  background-color: #f3722c;
}

.card {
  width: 300px;
  height: 560px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 30px 0 30px;
  min-height: 30rem;
  position: relative;
}

.chat-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
}

.textfield {
  margin-top: 50px;
}

.sendbutton {
  margin: 0;
  height: 60px;
}

.name-field {
  margin-bottom: 40px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  /* box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75); */
}

span {
  color: black;
}
